*
{
    margin: 0;
    padding: 0;
   
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: black;
    margin-top: 4px;
}
h1:hover
{
    color: rgb(138, 134, 136);
    cursor: pointer;
}
p
{
    font-family:  "Palatino Linotype", "Book Antiqua",  serif;
    font-size: 22px;
    color: rgb(255, 0, 85);
    margin-top: 30px;
}

.cont1
{
    padding: 20px;
    border: solid 3px white;
    background-color: white;
    width: 3800px;
    height: 380px;
    margin-top: 24px;
    margin-right: 100px;
    box-shadow: 0 5px 10px rgb(0,0,0,1);
    border-radius: 4px;

}
#btn
{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: solid 2px white ;
    font-size: 20px;
    margin-top: 18px;
    color:  rgb(79, 238, 79);

}
#btn:hover
{
    background-color:rgb(24, 233, 24);
    color:white;
}
.cont2
{
    padding: 20px;
    border: solid 3px white;
    background-color: white;
    width: 3800px;
    height: 380px;
    margin-top: 24px;
    margin-right: 100px;
    box-shadow: 0 5px 10px rgb(0,0,0,1);
    border-radius: 4px;
}
.cont3
{
    padding: 20px;
    border: solid 3px white;
    background-color: white;
    width: 3800px;
    height: 350px;
    margin-top: 24px;
    margin-right: 100px;
    box-shadow: 0 5px 10px rgb(0,0,0,1);
    border-radius: 4px;
}

.final1
{
    display: flex;
    justify-content: space-around;
}
.final2
{
    display: flex;
    justify-content: space-around;
}
.final3
{
    display: flex;
    justify-content: space-around;
}


.container .box
{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #ffff;
    box-shadow: 0 5px 15px rgb(0,0,0,1);
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    transition: 2s;
    
}
.container .box .icon
{
    position: relative;
    width: 150px;
    height: 150px;
    color: black;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    font-weight: 700;
    transition: 2s;
	margin-top:30px;
	font-size:30px;
}

.container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #00008b;
    background: #F6C34C  ;
}
.container .box:nth-child(1):hover .icon
{
    box-shadow: 0 0 0 400px #C0F66B     ;
}
.container .box .content
{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.container .box .content h4
{
    font-size: 15px;
    margin: 10px 0;
    padding: 0;
}
.container .box .content p
{
    margin: 10;
    padding: 0;
}
a{
    position: relative;
    width: 5px;
    padding: 2px;
    color:white;
    box-shadow: 0 5px 10px rgb(0,0,0,.1);
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
	text-decoration:none;
}


a:hover
{
	
	color:#6BF6E3 ;
}

.butt
{
    margin: 0;
    padding: 2px;
    position: relative;
    text-align: center;
	
}
.butt .tp
{
    background: brown;
    
    font-weight: 760;
    transition: 0.5s;
	font-size:15px;
}
.charger
 {
	 font-size:20px;
	 margin-left:10px;
	 color: #61b82a;
	 font-family: 'Bree Serif', serif;

 }
 .charger span
 {
	
	color: #4f4ad9;
 }
 /* Nav Bar */


.menu
{
    text-align: center;
    
}

.menu ul
{
    display: inline-flex;
    list-style: verdana;
    color: #39FF14;
    font-weight:500;
	font-size:18px;
	
	
}
.menu ul li
{
    width: 200px;
	height: 80px;
    margin: auto;
    padding: 30px;
    list-style-type: none;
	margin-right:6px;
}
.menu ul li a
{
    text-decoration:none;
    color:black;
    
}
/*.a1, .menu ul li:hover
{
    background: #f5f5f5;
    border-radius: 60px;
    

}*/
.a1, .menu ul li
{
    box-shadow: 0 0 0 0 lightblue;
    background: white;
}
.sub_menu
{
    display: none;
    background: transparent;
  
}
.menu ul li:hover .sub_menu
{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}
.menu ul li:hover .sub_menu ul
{
    display: block;
    margin: 10px;
  
}
.menu ul li:hover .sub_menu ul li
{
    width: 120px;
    padding: 3px;
   /* border-bottom: 2px dotted #fff; */
    background: transparent; 
    border-radius: 5px;
    text-align: left;

    

}
.menu ul li:hover .sub_menu ul li:last-child
{
    border-bottom: none;
}
.menu ul li:hover .sub_menu ul li a:hover
{
    color: #C0C0C0;
}
/*.a2, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;    
}
 
.a3, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a4, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a5, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a6, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}*/
.fa-angle-right
{
    float: right;
}

.main {
	max-height: 500px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 25px 20px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}


