
.box
{
	width:250px;
    height:200px;
	position:relative;
	perspective:1000px;
	margin-left:20px;
	padding:5px;
	
}
.box .box-img
{
	transform: rotateY(0);
	transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-img
{
	transform: rotateY(-90deg)
}
.box .box-img img
{
width:100%;
height:250px;	
}
.box .box-content
{
	width:250px;
	height:250px;
	position: absolute;
	top:0;
	left:0;
	padding: 20px ;
	box-sizing: border-box;
	text-align:center;
	color:#fff;
	background: rgba(0,0,0,0.7);
	transform: rotateY(90deg);
	transition:all 0.5s ease-in-out 0s;
}
.box-sty
{
	display: flex;
	justify-content: space-around;
}
.box:hover .box-content
{
transform:rotateY(0);

}



.uzz
{
	border: solid 2px blue;
	width: 650px;
	padding: 20px;
	box-shadow: 0 5px 15px rgb(0,0,0,1);
	box-sizing: border-box;
	overflow: hidden;
	display:block;
    
	
}
