
.text-cursive {
  font-family: "Indie Flower", cursive ; }

html {
  overflow-x: hidden; }



body {
  line-height: 1.7;
  color: #364d59 ;
  font-weight: 300;
  font-size: 1rem;
  bacground-size: cover;
  background-poistion: center; 
  background-color:#f5f5f5f;
  
  
 }

 /* Nav Bar */

* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu
{
    text-align: center;
    
}

.menu ul
{
    display: inline-flex;
    list-style: verdana;
    color: #39FF14;
    font-weight:500;
	font-size:18px;
	
	
}
.menu ul li
{
    width: 200px;
	height: 80px;
    margin: auto;
    padding: 25px;
    list-style-type: none;
	margin-right:6px;
}
.menu ul li a
{
    text-decoration:none;
    color:black;
    
}
.a1, .menu ul li:hover
{
    background: #f5f5f5;
    border-radius: 60px;
    

}
.a1, .menu ul li
{
    box-shadow: 0 0 0 0 lightblue;
    background: white;
}
.sub_menu
{
    display: none;
    background: transparent;
  
}
.menu ul li:hover .sub_menu
{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}
.menu ul li:hover .sub_menu ul
{
    display: block;
    margin: 10px;
  
}
.menu ul li:hover .sub_menu ul li
{
    width: 120px;
    padding: 3px;
   /* border-bottom: 2px dotted #fff; */
    background: transparent; 
    border-radius: 5px;
    text-align: left;

    

}
.menu ul li:hover .sub_menu ul li:last-child
{
    border-bottom: none;
}
.menu ul li:hover .sub_menu ul li a:hover
{
    color: #C0C0C0;
}
.a2, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;    
}
 
.a3, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a4, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a5, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.a6, .menu ul li:hover
{
    background: #f5f5f5 ;
    border-radius: 60px;
}
.fa-angle-right
{
    float: right;
}
.sub_menu2
{
    display: none;
   
}
.hover_me:hover .sub_menu2
{
    position: absolute;
    display: block;
    margin-top: -25px;
    margin-left: 114px;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 500;
  color: #364d59; }



.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-footer {
  padding: 4em 0;
  background: #343a40; }
 
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) ; }
  .site-footer p {
    color: #fff; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: rgba(255, 255, 255, 0.8); }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 18px;
    color: #fd4d40; }





.top-bar {
  border-bottom: 1px solid #e9ecef ; }
.site-navbar {
  margin-bottom: 0px;
 
  position: absolute;
  width: 100%;
  padding: 1rem; }
  
  
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white ; }
  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #fd4d40 ; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none ;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: #000 ;
        display: inline-block;
        text-decoration: none ; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fd4d40; }
      .site-navbar .site-navigation .site-menu > li.active > a {
        color: #fd4d40 ; }
    


/* Backgroung Video 
  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.content {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 16px;
}

.ashu, .aditya
{
margin:10px;
padding:0px;
font-size:120%;
font-family:verdana;
position: relative;
  bottom: 0;
  width: 100%;
  
}

.menu-wrap {
  padding: 10px 20px;
  background: #fff;
  border-radius: 100px; }

.block-2 {
  padding: 40px;
  position: relative;
  text-align: center; }
  .block-2 .wrap-icon {
    position: relative;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 30px; }
    .block-2 .wrap-icon > span {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .block-2 h2 {
    font-size: 18px;
    color: #fff; }
  .block-2 p {
    color: rgba(255, 255, 255, 0.7); }
  .block-2.red,
  .block-2.red .wrap-icon {
    background-color: #fd4d40; }
  .block-2.yellow,
  .block-2.yellow .wrap-icon {
    background-color: #fdb62f; }
  .block-2.teal,
  .block-2.teal .wrap-icon {
    background-color: #16c3b0; }

.text-red {
  color: #fd4d40; }

.text-yellow {
  color: #fdb62f; }

.text-teal {
  color: #16c3b0; }

*/




/* Footer CSS*/


body {
	margin: 0;
	padding: 0;
}
.main {
	max-height: 500px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 25px 20px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}





/* SLIDESHOW ONLY CSS */

.slider-holder
        {
            width: 1400px;
            height: 500px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;	
        }
       
        .image-holder
        {
            width: 7000px;
            background-color: red;
            height: 500px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 3s;
            -moz-transition: left 3s;
            -o-transition: left 3s;
            transition: left 3s;
			
			 animation-name: slideranimation;
   animation-duration: 20s;
   animation-iteration-count: infinite;
        }
       
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -1400px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -2800px;
        }
       
        #slider-image-4:target ~ .image-holder
        {
            left: -4200px;
        }
       
        #slider-image-5:target ~ .image-holder
        {
            left: -5600px;
        }


        .button-holder
        {
            position: relative;
            top: -20px;
			
        }
       
        .slider-change
        {
            display: inline-block;
            height: 13px;
            width: 13px;
            border-radius: 5px;
            background-color: #BADA55;
        }
		





/* NEW SLIDESHOW 
#slider {
   margin: 0 auto;
   width: 1400px;
   max-width: 100%;
   text-align: center;
   
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
   
}
#overflow {
   width: 100%;
   overflow: hidden;
   
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 500px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
    animation-name: slideranimation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
#slides .slide_1 {
   background-image:url(1.jpg);
  
   
   background-size: cover;
}
#slides .slide_2 {
  background-image:url(2.jpg);
  
   
   background-size: cover;
}
#slides .slide_3 {
   background-image:url(3.jpeg);
  
   
   background-size: cover;
}
#slides .slide_4 {
   background-image:url(4.jpg);
  
   
   background-size: cover;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
  
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 4;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   
   float:right;
   margin: -100px 10px 0 0;
   display: block;
}
/*#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(1),
#slide3:checked ~ #controls label:nth-last-child(1),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: -54px 0 0 10px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: red;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}
.content {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 16px;
}
*/







/* AUTO SLIDESHOW*/

   
	
	
@keyframes slideranimation{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -1400px;
    }
    45%{
        left: -1400px;
    }
    50%{
        left: -2800px;
    }
    70%{
        left: -2800px;
    }
    75%{
        left: -4200px;
    }
	95%{
		left: -4200px;

}





